.page-favorite {
  .tableList {
    @apply text-center;
    .buttonClose {
      display: inline-block;
      text-align: -webkit-center;
      @apply rounded-3xl  text-slate-50 w-7 h-7 pt-0.5 ml-1.5 bg-red-500;
    }

    img {
      display: flex;
      justify-content: center;
      padding-left: 20%;
      padding-right: 20%;
    }
  }
}
