/* .componente-notData {
  @apply flex;
} */

.outdata {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;

  span {
    font-size: 24px;
  }
}
